root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[{CMakeLists.txt,CMakePresets.json}]
indent_size = 2

[*.cmake]
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 2

[.clang-*]
indent_size = 2

[{*.xml,*.xml.in,*.wxs,*.wxs.in}]
indent_size = 2

[vcpkg.json]
indent_style = tab
indent_size = 2
